    body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #808080;
    color: #333;
}

.content {
    text-align: center;
}

.content h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

.content nav {
    margin: 20px 0;
}

.content nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 28px;
}

.content nav a:hover {
    text-decoration: underline;
}

.content p {
    background-color: black;
    color: white;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}
